<!DOCTYPE html>
<html>
  <head>
    <title>meter vis</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'meter_vis', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'meter_vis', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
